.options {
  .theme-btn {
    width: 40px;
    margin-right: auto;
  }
  .leng-btn {
    width: 40px;
  }
}

/*Responsive styles*/
@media only screen and (min-width: 550px) {
  .options {
    .theme-btn {
      margin-right: 20px;
    }
  }
}
