@use "@angular/material" as mat;
@use "sass:color";

.project-card {
  height: auto;
  width: 95vw;
  min-width: auto;
  border-radius: 15px;
  padding: 1rem;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid #bcbcbc;
  overflow: hidden;
  .dialog-view-btn {
    position: absolute;
    z-index: 5;
    margin-top: -60px;
    right: 12px;
    transition: margin-top 0.3s ease-in-out;
    display: none;
  }
  > * {
    width: 300px;
  }
  img {
    height: 200px;
    width: 300px;
    object-fit: scale-down;
  }
  .description {
    line-clamp: unset;
    -webkit-line-clamp: unset;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-break: "none";
    overflow: hidden;
    hyphens: auto;
  }
  .tech-chips {
    max-height: 80px;
    overflow-y: hidden;
  }
}

/*Responsive styles*/
@media (min-width: 551px) {
  .project-card {
    width: 500px;
  }
}

@media (min-width: 1025px) {
  .project-card {
    width: 350px;
    height: 550px;
    .description {
      line-clamp: 3;
      -webkit-line-clamp: 3;
    }
    .dialog-view-btn {
      display: block;
    }
    &:hover {
      .dialog-view-btn {
        margin-top: -12px;
      }
      @include mat.card-overrides(
        (
          elevated-container-color: var(--mat-sys-surface-container-lowest),
        )
      );
    }
  }
}

mat-card-header {
  padding: 0;
}

.actions {
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
