<div class="about-container">
  <div class="profile-info">
    <p>Hi, I'm Samuel</p>
    <h1 class="text-accent">Junior Full Stack Developer</h1>
    <p><mat-icon class="icon location">location_on</mat-icon> Lecco, Italy</p>
    <div class="contacts">
      <button mat-stroked-button title="Resume" class="cv-btn">
        <a href="" target="_blank">Download CV</a>
      </button>
      <button class="icon-btn" title="Github">
        <a
          href="https://github.com/LonneWW"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <mat-icon svgIcon="github" class="icon git"></mat-icon>
        </a>
      </button>
      <button class="icon-btn" title="LinkedIn">
        <a
          href="https://www.linkedin.com/in/samuel-barbieri-100886208"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <mat-icon svgIcon="linkedin" class="icon in"></mat-icon>
        </a>
      </button>
      <button class="icon-btn" title="Email">
        <a
          href="mailto:samuel.barbieri1291@gmail.com"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <mat-icon class="icon mail">alternate_email</mat-icon>
        </a>
      </button>
    </div>
  </div>
  <div class="profile-img">
    <img
      mat-card-image
      ngSrc="assets/foto_transp-bg.png"
      width="250"
      height="250"
      alt="Profile image"
    />
  </div>
</div>
