<div class="footer-container">
  <div class="contacts">
    <button class="icon-btn" title="Github">
      <a
        href="https://github.com/LonneWW"
        target="_blank"
        rel="noopener noreferrer nofollow"
      >
        <mat-icon svgIcon="github" class="icon git"></mat-icon>
      </a>
    </button>
    <button class="icon-btn" title="LinkedIn">
      <a
        href="https://www.linkedin.com/in/samuel-barbieri-100886208"
        target="_blank"
        rel="noopener noreferrer nofollow"
      >
        <mat-icon svgIcon="linkedin" class="icon in"></mat-icon>
      </a>
    </button>
    <button class="icon-btn" title="Email">
      <a
        href="mailto:samuel.barbieri1291@gmail.com"
        target="_blank"
        rel="noopener noreferrer nofollow"
      >
        <mat-icon class="icon mail">alternate_email</mat-icon>
      </a>
    </button>
  </div>
</div>
