/* Stili base: mobile */
.navbar {
  //padding right to match the inline one of the links list
  padding-right: 15px;
  left: 0;
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 15px 0;
  background-color: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(2px);
  //container used to divide the content of the navbar from its background
  .navigations-container {
    width: inherit;
    display: flex;
    align-items: center;
    ul {
      display: flex;
      justify-content: space-between;
      list-style: none;
      padding-inline-start: 10px;
      gap: 10px;
      margin-right: auto;
      //list items represents the sections of the page
      li {
        min-width: unset;
        a:focus-visible {
          outline: none;
        }
        a:hover {
          font-weight: bold;
        }
      }
    }
  }
}

/*Responsive styles*/
@media (min-width: 1025px) {
  .navbar {
    padding-right: 0;
    left: auto;
    .navigations-container {
      width: 800px;
      ul {
        padding-inline-start: 0;
        gap: unset;
        li {
          min-width: 100px;
        }
      }
    }
  }
}
