<div class="objectives-container">
  <h2>{{ "objectives.title" | translate }}</h2>
  <div class="objectives-table">
    <div class="to-do">
      <h3>To-do:</h3>
      <ul class="objectives-list">
        <li *ngFor="let objective of objectivesToDo">
          <a
            class="link"
            [href]="objective.url ? objective.url : ''"
            rel="noopener noreferrer nofollow"
            target="_blank"
            ><span>{{ objective.label }}</span>
            <mat-icon class="icon">arrow_outward</mat-icon></a
          >
        </li>
        <li *ngIf="objectivesToDo.length < 1" class="no-objectives">
          I don't think this message will ever appear...
        </li>
      </ul>
    </div>
    <div class="done">
      <h3>Done:</h3>
      <ul class="objectives-list">
        <li *ngFor="let objective of objectivesDone">
          <a
            class="link"
            [href]="objective.url ? objective.url : ''"
            target="_blank"
            rel="noopener noreferrer nofollow"
            ><span>{{ objective.label }}</span
            ><mat-icon class="icon">arrow_outward</mat-icon></a
          >
        </li>
        <li *ngIf="objectivesDone.length < 1" class="no-objectives">
          In progress<span class="dots"
            ><span class="dot">.</span><span class="dot">.</span
            ><span class="dot">.</span>
          </span>
        </li>
      </ul>
    </div>
  </div>
  <p class="suggestions">
    {{ "objectives.suggestionReq" | translate }}
  </p>
</div>
