.skills-container {
  padding: 0.5rem;
  .tech-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-inline-start: 10px;
    gap: 10px;
    padding: 0.5rem;
    margin: 8px auto 0 auto;
    li {
      display: flex;
      align-items: center;
      transition: transform 0.2s ease-out;
      &:hover {
        transform: translateY(-5px);
      }
      > * {
        margin-right: 5px;
      }
    }
  }
}

/*Responsive styles*/
@media only screen and (min-width: 1024px) {
  .skills-container {
    .tech-list {
      padding-inline-start: 0px;
      gap: 20px;
    }
  }
}
